html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a,
input,
button,
textarea {
  outline: transparent;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  appearance: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  /* font-size: 20px; */
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}


.lang_buttons {
  display: flex;
  width: 100px;
  position: relative;
}

.lang_buttons::before {
  content: "";
  position: absolute;
  border: 1px solid #fff;
  border-radius: 47px;
  background-color: #fff;
  padding: 0;
  width: 60px;
  height: 31px;
  top: -3px;
  bottom: 0;
  left: 0px;
  right: -2px;
  z-index: -1;
  margin-left: auto;
}

.lang_text {
  margin-right: 20px;
  width: 50px;
}

.en_lang {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.rus_lang--active {
  position: static;
}

.button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #101010;
  border-radius: 50%;
  background-color: #101010;
  padding: 12px;
  margin-right: 3px;
  font-size: 0;
  width: 24px;
  height: 24px;
  position: relative;
}

.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-slider {
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 50px 0 30px;
  background-color: #fff;
}

.grey {
  background-color: #F6F6F8;
}

/* 
.mixitup-control-active {
  color: #2352DE;
} */

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.about__title::before,
.tour__title::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  top: -90px;
  left: -70px;
  background-repeat: no-repeat;
  background-image: url(../images/title-bg.png);
  background-size: contain;
  z-index: -2;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  color: #898989;
  text-transform: uppercase;
}

.tour__info-box .subtitle {
  margin-bottom: 115px;
}

.animation {
  border-radius: 3px;
  text-decoration: underline transparent;
  transition: box-shadow 0.5s, text-decoration 0.5s, opacity 0.5s;
}

.animation:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.animation:hover {
  text-decoration: underline;
}

.animation:active {
  opacity: 0.7;
}

.btn {
  font-weight: 500;
  font-size: 20px;
  background: linear-gradient(180deg, #DB63EF 0%, rgb(129, 10, 149) 100%);
  border-radius: 42px;
  color: #fff;
  padding: 14px 45px;
  transition: all 0.5s;
}

.btn:focus {
  box-shadow: 0 0 0 8px rgba(129, 10, 149, 0.5);
}

.btn:hover {
  background: #FFFFFF;
  border-color: #5d0367;
  color: #7e0a98;
  text-decoration: transparent;
}

.btn:active {
  box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
  background-color: #5d0367;
  color: #fff;
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  z-index: 1;
  color: #f4f4f4;
  position: relative;
  padding-top: 100px;
}

.header__top {
  position: fixed;
  z-index: 99;
  padding-top: 45px;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.header__top--bg {
  background-color: rgb(0, 0, 0);
  padding: 5px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.logo {
  margin-bottom: 9px;
  position: relative;
  z-index: 1;
  transition: box-shadow 0.5s, opacity 0.5s;
}

.logo:focus {
  box-shadow: 0 0 0 3px #ba4ad8;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.menu__button {
  display: none;
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  border-radius: 3px;
  transition: background-color 0.5s;
}

.menu__btn {
  display: none;
  height: 2px;
  background-color: #fff;
  width: 30px;
  position: relative;
  margin: 0 auto;
}

.menu__btn::before,
.menu__btn::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 30px;
  left: 0;
  right: 0;
}

.menu__btn::before {
  top: 10px;
}

.menu__btn::after {
  top: -10px;
}

.menu__list {
  display: flex;
  transition: all 1s;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.header__content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: center;
  text-align: center;
}

.header__title {
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 50px;
  color: #fff;
}

.header__link {
  margin: 0 auto;
}

.about {
  position: relative;
  z-index: 0;
}

.about::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 23%;
  width: 100%;
  height: 65%;
  background-repeat: no-repeat;
  background-image: url(../images/about-bg.svg);
  background-size: contain;
  background-position: bottom right;
  z-index: -1;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.text {
  max-width: 560px;
  width: 100%;
}

.about__text p {
  margin-bottom: 30px;
}

.about__img {
  padding-top: 30px;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));
}

.about__achievements {
  display: flex;
  justify-content: space-between;
}

.about__text1 span {
  display: block;
  font-weight: 600;
  font-size: 38px;
  background: linear-gradient(180deg, #DB63EF 0%, #810A95 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 10px;
}

.reviews__video {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
  max-width: 1160px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.reviews__video::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: box-shadow 0.5s, background-color 0.5s;
}

.reviews__video::after {
  content: "";
  position: absolute;
  background-image: url('../images/play_video.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 85px;
  height: 100px;
  background-position: center center;
  transition: transform 0.5s;
}

.reviews__video:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.reviews__video:hover::after {
  transform: scale(1.5);
}

.reviews__video:focus::before {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.reviews__video:active::after {
  transform: scale(0.6);
}

.reviews__video:active::before {
  background-color: rgba(0, 0, 0, 0.45);
}

.tours {
  margin-bottom: 50px;
}

.tour__img {
  padding: 50px 0;
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.15));
}

.tour__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}
.tour__info-box{
  margin-right: 15px;
}
.arrow {
  position: absolute;
  bottom: -38px;
  left: 125px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow--next {
  transform: rotateY(180deg);
  left: 225px;
}

.arrow:focus,
.arrow:hover,
.arrow:active {
  background-color: #f0f0f0;
  border: 1px solid #000;
  filter: drop-shadow(0 0 3x rgba(0, 0, 0, 0.15));
}

.arrow:focus path,
.arrow:hover path,
.arrow:active path {
  stroke: #000;
}

.slick-dots {
  display: flex;
  justify-content: flex-end;
  max-width: 940px;
  width: 100%;
  margin-left: 345px;
  font-size: 0;
}

.slick-dots li {
  width: 100%;
  height: 3px;
  font-size: 0;
  background-color: #b0b0b0;
  margin: 0;
  padding: 0;
}

.slick-dots .slick-active {
  background-color: #000;
}

.private {
  height: 600px;
  padding: 100px 0;
  margin-bottom: 135px;
  position: relative;
}

.private::after {
  content: "";
  position: absolute;
  width: 460px;
  height: 600px;
  top: 50px;
  right: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  background-image: url(../images/private-bg.jpg);
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));
}

.private__title {
  max-width: 380px;
  width: 100%;
  margin-bottom: 20px;
}

.private__text {
  max-width: 570px;
  width: 100%;
}

.private__text p {
  margin-bottom: 30px;
}

.btn-1 {
  display: inline-block;
  position: relative;
  transition: all 0.5s;
}

.btn-1 div::before {
  content: "";
  position: absolute;
  width: 224px;
  height: 60px;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(180deg, #DB63EF 0%, #810A95 100%);
  border-radius: 42px;
}

:root {
  --border-w: 4px;
}

.item {
  font-weight: 500;
  font-size: 20px;
  width: 216px;
  height: 52px;
  border-radius: 42px;
  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #DB63EF 0%, #810A95 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
}

.item::before {
  content: "";
  position: absolute;
  inset: calc(0px - var(--border-w));
  border-radius: 42px;
  padding: 4px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn-1:focus,
.btn-1:hover {
  background: #FFFFFF;
  transform: scale(1.1);
}

.btn:active {
  background: #FFFFFF;
  transform: scale(1.05);
}

.select {
  position: relative;
  z-index: 0;
}

.select::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-image: url(../images/select-bg.svg);
  background-size: contain;
  background-position: top left;
  z-index: -1;
}

.select__title-box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 70px;
}

.select__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.select-slider__item {
  max-width: 560px;
  width: 100%;
  margin-left: 18px;
}

.select__title {
  margin-bottom: 0;
}

.select__img {
  margin-bottom: 30px;
  object-fit: cover;
}

.select__item-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}

.select__text {
  overflow: hidden;
  line-clamp: 10;
  height: 100px;
  margin-bottom: 50px;
}

.select__link {
  margin-bottom: 65px;
}

.select .arrow--prev,
.gallery .arrow--prev {
  left: 0;
}

.select .arrow--next,
.gallery .arrow--next {
  left: 100px;
}

.select .slick-dots,
.gallery .slick-dots {
  margin-left: 225px;
}

.gallery__img{
  width: 360px;
  margin: 0 10px;
  padding: 0 20px 60px 0;
}
.gallery__inner{
  margin: 0 10px;
}
.gallery__item{
  width: 360px;
  margin-left: -5px;
}
.gallery__subtitle{
  font-weight: 500;
  font-size: 18px;
  color: #898989;
  margin-bottom: 45px;
}
.location__title-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.location__img{
  width: 1600px;
  margin: 0 auto;
  object-fit: cover;
}
.location__map{
  position: relative;
}
.location__map::before{
  content: "";
  position: absolute;
  width: 50px;
  height: 60px;
  top: 40%;
  left: 52%;
  background-image: url(../images/map.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.partners__title{
  margin-bottom: 45px;
}
.partners__list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.partners__item{
  margin-bottom: 30px;
}
.contacts{
  padding: 80px 0;
}
.contacts__inner{
  display: flex;
  justify-content: space-between;
}
.form__title,
.contacts__title{
  margin-bottom: 30px;
  font-style: normal;
}
.form{
  width: 460px;
}
.form__check{
  color: #898989;
  display: inline-flex;
  font-size: 16px;
}
.form__input-check{
  margin-bottom: 50px;
}
.form__inner:not(:last-child){
  margin-bottom: 20px;
}
.form__row{
  margin-bottom: 50px;
}
.form__input{
  border: none;
  border-bottom: 2px solid #898989;
  padding: 10px;
  width: 100%;
}
.contacts__item{
  margin-bottom: 20px;
}
.contacts__time{
  display: block;
  padding-top: 10px;
}
.contacts__item--tel{
  font-weight: 700;
  font-size: 45px;
}
.contacts__link{
  font-style: normal;
  transition: text-decoration 0.5s, color 0.5s;
}

.contacts__link:focus,
.contacts__link:hover,
.contacts__link:active {
  text-decoration: underline;
  color: #ad10be;
}

.footer__list{
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0 40px;
  border-top: 2px solid #898989;;
}
.footer__link{
  font-size: 16px;
  color: #898989;
  transition: text-decoration 0.5s;
}
.footer__link:focus,
.footer__link:hover,
.footer__link:active {
  text-decoration: underline;
  color: #000;
}
















@media (max-width: 1400px) {
  .private::after{
    right: 7%;
  }
}

@media (max-width: 1200px) {
  body.lock {
    overflow-y: hidden;
  }

  .header__content {
    height: calc(100vh - 90px);
  }
  .menu{
    padding-right: 25px;
  }
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(-200%);
    transition: transform 0.5s;
    height: 100vh;
    overflow-y: auto;
    padding: 90px 0 90px;
    z-index: 0;
  }

  .menu__link {
    display: block;
    width: 100vh;
    padding-top: 11px;
    padding-bottom: 11px;
    transition: background-color 0.5s;
  }

  .menu__link:active,
  .menu__link:focus,
  .menu__link:hover {
    background-color: rgba(209, 61, 223, 0.7);
    text-decoration: underline transparent;
    border: transparent;
    box-shadow: none;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .header__top {
    padding-top: 5px;
  }

  .menu__button,
  .menu__btn {
    display: block;
  }

  .menu__button:active {
    background-color: #FFFFFF;
    opacity: 0.1;
  }

  .header__top.header__top--active .menu__list {
    transform: translateY(0);
  }

  .header__top.header__top--active .menu__btn {
    background-color: transparent;
  }

  .header__top.header__top--active .menu__btn::before {
    top: 50%;
    left: 16px;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .header__top.header__top--active .menu__btn::after {
    transform: translate(50%, 0%) rotate(-45deg);
    top: 50%;
    left: -14px;
  }
  .tour__inner{
    margin-right: 0;
  }
    .private::after {
      right: 4%;
    }
    .partners__item{
      margin-left: 15px;
      margin-right: 15px;
    }
  
}
@media (max-width: 1100px){
  .about__info-box{
    margin-right: 25px;
  }
    .private::after {
      right: 0;
      opacity: 0.2;
    }
}
@media (max-width: 992px) {
  .about__inner{
    flex-direction: column;
  }
  .about__info-box{
    margin-right: 0;
    margin-bottom: 20px;
  }
  .text{
    max-width: 100%;
  }
  .about__achievements{
    justify-content: center;
  }
  .about__text1:not(:last-child){
    margin-right: 30px;
  }

  .about__text1 span{
    font-size: 32px;
  }
  .about__img{
    width: 80%;
  }
  .tours .slick-dots{
    max-width: 63%;
  }
  .contacts__inner{
    flex-direction: column-reverse;
  }
  .contacts__info{
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .tour__inner{
    flex-direction: column;
    margin-left: 70px;
  }
  .text{
    max-width: 100%;
  }
  .tour__info-box .subtitle{
    margin-bottom: 50px;
  }
    .about__title::before,
    .tour__title::before {
      width: 100px;
      height: 100px;
      top: -44px;
      left: -70px;
    }
    .slick-dots{
      margin: 0 50px;
      max-width: 100%;
    }
        .select .slick-dots,
        .gallery .slick-dots {
          margin-left: 50px;
        }
    .tours .slick-dots{
      max-width: 100%;
    }
}

@media (max-width: 800px){
  .select-slider__item{
    margin-left: 7px;
    max-width: 90%;
  }
  .select__title-box{
    flex-direction: column-reverse;
  }
  .select .subtitle{
    margin-bottom: 30px;
  }
  .location__title-box{
    flex-direction: column;
    align-items: flex-start;
  }
  
}

@media (max-width: 768px) {
  .menu{
    padding-right: 0;
  }
  .private::after{
    width: 300px;
    height: 400px;
    top: 20px;
  }
  .private{
    height: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 650px){
  .partners__list{
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .logo__img{
    width: 100px;
    margin-right: 0;
  }
  .logo{
    margin-bottom: 0;
  }
  .lang_text{
    font-size: 0;
    margin-right: 45px;
  }
    .about__title::before,
    .tour__title::before {
      width: 80px;
      height: 80px;
      top: -37px;
      left: -12px;
    }
    .tour__inner{
      margin-left: 15px;
    }
    .slick-dots{
      margin: 0 15px;
    }
    .private{
      margin-bottom: 30px;
      padding:50px 0;
    }
    .contacts__item--tel{
      font-size: 36px;
    }
    .form{
      width: 100%;
    }
    .footer__list{
      flex-direction: column;
    }
    .footer__item:not(:last-child){
      margin-bottom: 20px;
    }
}
@media (max-width: 475px){
  .contacts__item--tel {
      font-size: 30px;
    }
    .form__input::placeholder{
      font-size: 14px;
    }
}

@media screen and (min-width:375px) and (max-width:920px) and (orientation: landscape) {

}

@media screen and (min-width:279px) and (max-width:374px) {

}